

.card{
    display: flex;
    flex: 33%;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 60%;
   // justify-content: space-around;

    &--orange{
        background-color: $Bright_orange;
    }
    &--dark-cyan{
        background-color: $Dark_cyan;
    }
    &--very-dark-cyan{
        background-color: $Very_dark_cyan;
    }
    &--topRounded{
        border-radius: 5px 5px 0px 0px;
    }
    &--bottomRounded{
        border-radius: 0px 0px 5px 5px;
    }
    @media only screen and (min-width:376px) {
       
        flex: none;
        padding-bottom: 2rem;
        width: 20%;
        height: 50%;
        &--topRounded{
            border-radius: 5px 0px 0px 5px;
        }
        &--bottomRounded{
            border-radius: 0px 5px 5px 0px;
        }
        
    }

}

.card__header{
    font-family: 'Big Shoulders Display', cursive;
    padding-left: 0.6rem;
    padding-top: 1rem;
    & img{
        width: 41px;
        height: 26px;
    }
    & h1{
        margin-bottom: 0;
        font-size: 1.3rem;
        color: $Very_light_gray;
    }
    @media only screen and (min-width:376px) {
        margin-top: 1.5rem;
        & img{
            width: auto;
            height: auto;
        }
        & h1{
            font-size: 2.3rem;
        }
    }
}

.card__body{

    margin-left: 0.6rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    & p{
        font-size: .6rem;
        line-height: 1.25rem;
        color:$Transparent_white;
    }
    @media only screen and (min-width:376px) {
        margin-left: 0.6rem;
        margin-right: 3.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        & p{
            line-height: 1.5rem;
            font-size: 1rem;
        }
    }
}

.card__footer{
    margin-top: 1.5rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
    & a{
        text-decoration: none;
        background-color: $Very_light_gray;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 50px;
        font-size: .6rem;
        &:hover{
            background-color: transparent;
            border: 2px solid $Very_light_gray;
            color: white;

        }
    }
    &--orange a{
        color: $Bright_orange;
    }
    &--dark-cyan a{
        color: $Dark_cyan;
    }
    &--very-dark-cyan a{
        color: $Very_dark_cyan;
    }
    @media only screen and (min-width:376px) {
        margin-left: 0.6rem;
        margin-right: 0.6rem;
        margin-top: 3.5rem;
        margin-bottom: 1rem;
        & a{
       
            padding: 1rem 2rem 1rem 2rem;
       
            font-size: 1rem;
            &:hover{
                background-color: transparent;
                border: 2px solid $Very_light_gray;
                color: white;
    
            }
        }
    }
}